$white: #fff;
$off-white: #fafafa;
$light-gray: #eee;
$charcoal: #4a4a4a;
$slate: #2a2a2a;
$black: #000;

$cream: #FDFAF5;
$red: #982F1F;
$dark-red: #75382F;
$mustard: #CBA44A;
$dark-green: #1C2319;
$beige: #CFC5B5;
$dark-gray: #181818;
$claret: #A12744;