@font-face {
    font-family: 'Avenir LT Std';
    src: url('fonts/AvenirLTStd-BookOblique.woff2') format('woff2'),
        url('fonts/AvenirLTStd-BookOblique.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('fonts/AvenirLTStd-Book.woff2') format('woff2'),
        url('fonts/AvenirLTStd-Book.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'Avenir LT Std';
    src: url('fonts/AvenirLTStd-Black.woff2') format('woff2'),
        url('fonts/AvenirLTStd-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Italian Typewriter';
    src: url('fonts/ItalianTypewriter.woff2') format('woff2'),
        url('fonts/ItalianTypewriter.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


$avenir: 'Avenir LT Std', sans-serif;
$italian-typewriter: 'Italian Typewriter', serif;