@charset "UTF-8";
@font-face {
  font-family: "Avenir LT Std";
  src: url("fonts/AvenirLTStd-BookOblique.woff2") format("woff2"), url("fonts/AvenirLTStd-BookOblique.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Avenir LT Std";
  src: url("fonts/AvenirLTStd-Book.woff2") format("woff2"), url("fonts/AvenirLTStd-Book.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir LT Std";
  src: url("fonts/AvenirLTStd-Black.woff2") format("woff2"), url("fonts/AvenirLTStd-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Italian Typewriter";
  src: url("fonts/ItalianTypewriter.woff2") format("woff2"), url("fonts/ItalianTypewriter.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  background: #FDFAF5;
}

body,
button,
input,
select,
optgroup,
textarea {
  color: #4a4a4a;
  font-family: "Avenir LT Std", sans-serif;
  font-variant-ligatures: none;
}

::-moz-selection {
  background: #CBA44A;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #CBA44A;
  color: #fff;
  text-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

a {
  color: #4a4a4a;
  transition: all 0.2s ease-in-out;
}

.page-header h1 {
  font-size: clamp(2rem, 4vw, 4rem);
  text-transform: lowercase;
  letter-spacing: 0;
  color: #982F1F;
  font-family: "Italian Typewriter", serif;
  font-weight: bold;
}
.page-header h1:after {
  content: ".";
}

.popup {
  top: 9rem;
  left: -1.75rem;
}
@media screen and (min-width: 480px) {
  .popup {
    top: -0.5rem;
    left: 0;
    z-index: 1001;
  }
}
@media screen and (min-width: 992px) {
  .popup {
    left: -1rem;
    top: -1rem;
    z-index: 1;
  }
}
@media screen and (min-width: 1280px) {
  .popup {
    left: -1.5rem;
    top: -3.25rem;
  }
}
.popup-link, .popup-trigger {
  background: #982F1F;
  width: 5.25rem;
  height: 5.25rem;
  padding: 0.75rem;
  border-radius: 50%;
  border: 2px solid #FDFAF5;
  color: #fff;
  letter-spacing: 0.05em;
  font-size: 0.6125rem;
  line-height: 1.25em;
  text-transform: lowercase;
  box-shadow: none !important;
}
@media screen and (min-width: 992px) {
  .popup-link, .popup-trigger {
    border: none;
  }
}
@media screen and (min-width: 1280px) {
  .popup-link, .popup-trigger {
    width: 6.75rem;
    height: 6.75rem;
    font-size: 0.75rem;
    padding: 1rem;
  }
}
.popup-link span, .popup-trigger span {
  display: block;
  transform: rotate(-10deg);
}

.popup-overlay .close {
  color: #982F1F;
}
.popup-overlay .info .headline h3 {
  font-size: clamp(1.5rem, 1.8vw, 1.75rem);
  color: #982F1F;
}
.popup-overlay .info .sub-headline h4 {
  color: #2a2a2a;
}
.popup-overlay .info .copy p {
  color: #2a2a2a;
}
.popup-overlay .info .btn a {
  font-size: 1.125rem;
  color: #982F1F;
}

section#heavy-at-home .overlay {
  background: rgba(242, 241, 225, 0.7);
}
section#heavy-at-home .overlay-wrapper {
  border: 5px solid #982F1F;
  background: #fff;
}
section#heavy-at-home .info .headline h1 {
  color: #982F1F;
  text-transform: lowercase;
}
@media screen and (min-width: 768px) {
  section#heavy-at-home .info .headline h1 {
    font-size: 5rem;
  }
}
section#heavy-at-home .info .copy p {
  font-size: clamp(1.375rem, 1.3vw, 1.5rem);
  line-height: 1.375rem;
  color: #4a4a4a;
}
section#heavy-at-home .info .copy p a {
  color: #4a4a4a;
}
section#heavy-at-home .info .cta .btn {
  color: #982F1F;
}
section#heavy-at-home .info .cta .btn:hover {
  background: #982F1F;
  border-color: #982F1F;
}

section.announcement p {
  font-weight: normal;
  font-size: clamp(0.875rem, 1vw, 1rem);
}

#covid-modal .overlay-wrapper {
  background: #CBA44A;
  border: 1px solid #fff;
}
#covid-modal .close {
  color: #fff;
}
#covid-modal .headline {
  color: #982F1F;
  border-color: #fff;
}
#covid-modal .headline h2 {
  font-size: clamp(1.5rem, 3vw, 2.5rem);
  text-transform: lowercase;
  letter-spacing: 0.05em;
  font-family: "Italian Typewriter", serif;
  font-weight: bold;
}
#covid-modal .content h3 {
  color: #fff;
  font-size: clamp(0.875rem, 1vw, 1rem);
  letter-spacing: 0.05em;
  font-weight: bold;
}
#covid-modal .content p {
  color: #fff;
}
#covid-modal .content p a {
  text-decoration: underline;
  color: #fff;
}

.construction {
  gap: 2rem;
  padding-bottom: 3rem;
}
@media screen and (min-width: 992px) {
  .construction__info {
    grid-row: 1;
    grid-column: 10/span 4;
    padding-top: 1rem;
  }
}
.construction__headline {
  font-size: clamp(1.5rem, 2vw, 2rem);
  line-height: 1.25em;
  color: #982F1F;
  font-weight: bold;
}
.construction__copy {
  padding-top: 1rem;
  font-size: clamp(1.125rem, 1.5vw, 1.25rem);
  line-height: 1.5em;
}
@media screen and (min-width: 992px) {
  .construction__image {
    grid-column: 2/span 8;
    grid-row: 1;
  }
}

.site-header .site-nav li:after {
  padding: 0 0.5rem;
}
@media screen and (min-width: 1280px) {
  .site-header .site-nav li:after {
    padding: 0 0.75rem;
  }
}
.site-header .site-nav a {
  font-size: 1rem;
  text-transform: lowercase;
  letter-spacing: 0;
  color: #982F1F;
  font-family: "Italian Typewriter", serif;
  font-weight: bold;
  letter-spacing: -0.03em;
}
@media screen and (min-width: 1280px) {
  .site-header .site-nav a {
    font-size: 1.125rem;
  }
}
.site-header .site-nav a:hover {
  color: #CBA44A;
}
@media screen and (min-width: 992px) {
  .site-header .nameplate .nameplate-wrapper {
    border-color: #4a4a4a;
    justify-content: space-between;
    padding: 4rem 0 6rem 0;
  }
}
.site-header .nameplate .logo a {
  display: block;
}
.site-header .nameplate .logo .image {
  flex: 1;
}
@media screen and (min-width: 480px) {
  .site-header .nameplate .logo .image {
    flex: none;
  }
}
@media screen and (min-width: 992px) {
  .site-header .nameplate .logo .image {
    display: flex;
    justify-content: center;
  }
}
.site-header .nameplate .logo .image img {
  width: 100%;
  max-width: 225px;
}
@media screen and (min-width: 992px) {
  .site-header .nameplate .logo .image img {
    max-width: 365px;
  }
}
.site-header .nameplate .info h3 {
  font-size: clamp(1.5rem, 2vw, 2rem);
  font-weight: bold;
  text-transform: lowercase;
  letter-spacing: 0;
  color: #982F1F;
  font-family: "Italian Typewriter", serif;
  font-weight: bold;
}
.site-header .nameplate .info p {
  font-size: clamp(0.8125rem, 1.2vw, 1.125rem);
  font-style: normal;
  color: #75382F;
  line-height: 1.5em;
}
.site-header .hamburger .patty {
  background: #982F1F;
}
.site-header .hamburger .patty:after, .site-header .hamburger .patty:before {
  background: #982F1F;
}
.site-header .mobile-nav {
  border-bottom: 1px solid #CBA44A;
}
.site-header .mobile-nav ul a {
  text-transform: lowercase;
  letter-spacing: 0;
  color: #982F1F;
  font-family: "Italian Typewriter", serif;
  font-weight: bold;
  padding: 0.75rem 0.5rem;
}
.site-header .mobile-nav ul a:hover {
  color: #CBA44A;
}

.site-header.status-view .status {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.site-header.status-view .logo {
  width: 100%;
}
@media screen and (min-width: 992px) {
  .site-header.status-view .logo {
    width: auto;
  }
}
.site-header.status-view .logo .image {
  width: 80%;
}
@media screen and (min-width: 992px) {
  .site-header.status-view .logo .image {
    width: 100%;
  }
}
.site-header.status-view .logo .image img {
  margin: 0;
  transform: none;
  max-width: 200px;
}
@media screen and (min-width: 768px) {
  .site-header.status-view .logo .image img {
    margin: 0;
    max-width: 300px;
  }
}
@media screen and (min-width: 1280px) {
  .site-header.status-view .logo .image img {
    max-width: 300px;
  }
}
.site-header.status-view .message {
  width: 100%;
  flex: 1;
  text-align: center;
  padding-top: 25px;
}
@media screen and (min-width: 992px) {
  .site-header.status-view .message {
    padding-left: 50px;
    text-align: left;
    width: auto;
    padding-top: 0;
  }
}
.site-header.status-view .message .headline {
  padding-bottom: 10px;
}
.site-header.status-view .message .headline h2 {
  font-weight: 700;
  font-size: 1.75rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
@media screen and (min-width: 1280px) {
  .site-header.status-view .message .headline h2 {
    font-size: 2rem;
  }
}
.site-header.status-view .message .copy p {
  font-size: 1.125rem;
  font-style: normal;
  line-height: 1.75em;
  text-transform: none;
}
.site-header.status-view .message .copy p + p {
  padding-top: 10px;
}
@media screen and (min-width: 1280px) {
  .site-header.status-view .message .copy p {
    font-size: 1.25rem;
  }
}

body.page-template-location .page-location,
body.page-template-gallery .page-gallery,
body.page-template-menu .page-dine-in-menus {
  color: #CBA44A;
}

.social-links a {
  display: block;
  border: 1px solid #FDFAF5;
  border-radius: 50%;
}
.social-links a img {
  width: 100%;
}

.site-footer {
  background: #2a2a2a;
}

body.page-template-home section.hero {
  position: relative;
  max-height: 900px;
}
body.page-template-home section.hero:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 50%;
}
body.page-template-home section.hero > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
body.page-template-home section.hero img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body.page-template-home section.details {
  padding: 3rem 0;
}
@media screen and (min-width: 992px) {
  body.page-template-home section.details {
    padding: 2rem 0 4rem 0;
  }
}
body.page-template-home section.details .gallery {
  display: grid;
  gap: 1rem;
}
@media screen and (min-width: 768px) {
  body.page-template-home section.details .gallery {
    grid-column: 6/span 4;
    grid-row: 1;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-home section.details .gallery {
    grid-column: 6/span 8;
    grid-template-columns: 1fr 1fr;
  }
}
body.page-template-home section.details .gallery .photo {
  position: relative;
}
body.page-template-home section.details .gallery .photo:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 56.25%;
}
body.page-template-home section.details .gallery .photo > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
body.page-template-home section.details .gallery .photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body.page-template-home section.details .gallery .inset {
  position: relative;
}
body.page-template-home section.details .gallery .inset:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 37.5%;
}
body.page-template-home section.details .gallery .inset > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
@media screen and (min-width: 992px) {
  body.page-template-home section.details .gallery .inset {
    grid-column: 1/span 2;
  }
}
body.page-template-home section.details .info {
  padding-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  body.page-template-home section.details .info {
    grid-column: 2/span 4;
    grid-row: 1;
    padding-bottom: 0;
    padding-right: 2rem;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-home section.details .info {
    padding-top: 2.5em;
  }
}
body.page-template-home section.details .info .headline {
  padding-bottom: 2rem;
}
body.page-template-home section.details .info .headline h2 {
  text-transform: lowercase;
  letter-spacing: 0;
  color: #982F1F;
  font-family: "Italian Typewriter", serif;
  font-weight: bold;
  color: #CBA44A;
  font-size: clamp(2.25rem, 3vw, 3.5rem);
  line-height: 0.875em;
}
body.page-template-home section.details .info .copy p {
  font-size: clamp(1.25rem, 1.125vw, 1.5rem);
  line-height: 1.5em;
}
body.page-template-home section.details .info .copy p + p {
  padding-top: 1rem;
}

body.page-template-location section.location .info {
  padding-right: 2rem;
}
body.page-template-location section.location .info h3 {
  text-transform: lowercase;
  letter-spacing: 0;
  color: #982F1F;
  font-family: "Italian Typewriter", serif;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.125em;
}
body.page-template-location section.location .info p {
  font-size: clamp(1rem, 1.2vw, 1.25rem);
  line-height: 1.25em;
}
body.page-template-location section.location .info p + h3 {
  margin-top: 3rem;
}
body.page-template-location section.location .info a {
  text-decoration: underline;
}
body.page-template-location section.location .map {
  padding-bottom: 3rem;
}

@media screen and (min-width: 768px) {
  body.page-template-menu .menu-section.columns-two .items {
    -moz-column-gap: 6rem;
         column-gap: 6rem;
  }
}
body.page-template-menu .menu-section.specials .section-header {
  display: none;
}
@media screen and (min-width: 992px) {
  body.page-template-menu .menu-section.specials {
    grid-column: 3/span 10;
  }
}
@media screen and (min-width: 1280px) {
  body.page-template-menu .menu-section.specials {
    grid-column: 4/span 8;
  }
}
body.page-template-menu .menu-section.specials .items {
  padding: 1rem 3rem 1rem 3rem;
}
@media screen and (min-width: 992px) {
  body.page-template-menu .menu-section.specials .items {
    padding: 2rem 4rem 2rem 4rem;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-menu .menu-section.specials .items .item {
    margin: 0 auto;
    max-width: 30rem;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-menu .menu-section.specials .image {
    padding-bottom: 0;
  }
  body.page-template-menu .menu-section.specials .image img {
    position: absolute;
    top: 3rem;
    left: -6rem;
    z-index: 10;
  }
}
body.page-template-menu .section-header {
  margin-bottom: 2rem;
}
body.page-template-menu .section-header h3 {
  font-size: clamp(2rem, 3.15vw, 3.25rem);
  letter-spacing: 0.02em;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid;
}
body.page-template-menu .notes p {
  color: #982F1F;
}
body.page-template-menu nav.menu-subnav {
  padding-top: 0;
}
body.page-template-menu nav.menu-subnav li:after {
  content: ".";
  font-size: clamp(2.5rem, 5vw, 3.5rem);
  color: #982F1F;
}
body.page-template-menu nav.menu-subnav a {
  font-size: clamp(2rem, 3.15vw, 3.25rem);
  text-transform: lowercase;
  letter-spacing: 0;
  color: #982F1F;
  font-family: "Italian Typewriter", serif;
  font-weight: bold;
  padding-bottom: 0.25rem;
  border-bottom: 3px solid transparent;
}
body.page-template-menu nav.menu-subnav a.active, body.page-template-menu nav.menu-subnav a:hover {
  border-bottom: 3px solid #982F1F;
}
body.page-template-menu .item {
  color: #982F1F;
}
body.page-template-menu .item.special {
  text-align: center;
  padding: 1.5rem;
}
body.page-template-menu .item .title h4 {
  letter-spacing: 0.02em;
  font-weight: bold;
}
body.page-template-menu .item .title h4 .price:before {
  content: "·";
  padding-left: 0.25rem;
  padding-right: 0.5rem;
}
body.page-template-menu .item .details p span.note, body.page-template-menu .item .details p span.options {
  font-style: italic;
}
body.page-template-menu .theme-cream-red .specials .items {
  background: #CBA44A;
}
body.page-template-menu .theme-cream-red .specials .items .item {
  color: #fff;
}
body.page-template-menu .theme-cream-red .specials .items .item + .item {
  margin-top: 3rem;
}
body.page-template-menu .theme-cream-red .section-header h3 {
  text-transform: lowercase;
  letter-spacing: 0;
  color: #982F1F;
  font-family: "Italian Typewriter", serif;
  font-weight: bold;
}
body.page-template-menu .theme-cream-red .special {
  background: #CBA44A;
  color: #fff;
}
body.page-template-menu .theme-cream-red nav.menu-subnav a.active {
  color: #982F1F;
}
body.page-template-menu .footer-copy * {
  color: #982F1F;
}

body.page-template-group-dining .section-header h3 {
  text-transform: lowercase;
  letter-spacing: 0;
  color: #982F1F;
  font-family: "Italian Typewriter", serif;
  font-weight: bold;
  font-size: clamp(2.5rem, 4vw, 4rem);
}
body.page-template-group-dining section.header {
  color: #982F1F;
}
body.page-template-group-dining section.faqs {
  color: #982F1F;
}
body.page-template-group-dining section.faqs .cta .btn {
  background: #CBA44A;
  font-family: "Italian Typewriter", serif;
}
body.page-template-group-dining section.form {
  color: #982F1F;
}
body.page-template-group-dining section.form .forminator-custom-form .forminator-response-message {
  background: #982F1F;
  color: #fff;
  padding: 1rem;
}
body.page-template-group-dining section.form .forminator-custom-form .forminator-button-submit {
  background: #CBA44A;
  font-family: "Italian Typewriter", serif;
}
body.page-template-group-dining section.form .forminator-custom-form .forminator-field input,
body.page-template-group-dining section.form .forminator-custom-form .forminator-field select {
  border: 1px solid #CBA44A;
}
body.page-template-group-dining section.form .forminator-custom-form .forminator-field label {
  color: #982F1F;
}
body.page-template-group-dining section.form .forminator-custom-form .forminator-field label span.forminator-required {
  color: #CBA44A;
}
body.page-template-group-dining section.form .forminator-custom-form .forminator-field .forminator-error-message {
  color: #CBA44A;
}
body.page-template-group-dining section.form .post-form-copy a {
  color: #982F1F;
  text-decoration: underline;
}
body.page-template-group-dining .ui-datepicker-prev span, body.page-template-group-dining .ui-datepicker-next span {
  color: #982F1F;
}
body.page-template-group-dining .ui-datepicker-month, body.page-template-group-dining .ui-datepicker-year {
  color: #fff;
  background: #982F1F;
  border-color: #982F1F;
  font-weight: bold;
}
body.page-template-group-dining .ui-datepicker-calendar {
  border-left: 1px solid #CBA44A;
}
body.page-template-group-dining .ui-datepicker-calendar th {
  background: #CBA44A;
}
body.page-template-group-dining .ui-datepicker-calendar td {
  border-right: 1px solid #CBA44A;
  border-bottom: 1px solid #CBA44A;
}
body.page-template-group-dining .ui-datepicker-calendar td a:hover, body.page-template-group-dining .ui-datepicker-calendar td a.ui-state-active {
  background: #982F1F;
  color: #fff;
}