.site-header {
    @import 'site-nav'; 

	@import 'nameplate'; 

	@import 'hamburger'; 

	@import 'mobile-nav'; 
}

@import 'status-view';

body.page-template-location .page-location,
body.page-template-gallery .page-gallery,
body.page-template-menu .page-dine-in-menus {
    color: $mustard;
}

.social-links {
	a {
		display: block;
		border: 1px solid $cream;
		border-radius: 50%;

		img {
			width: 100%;
		}
	}
}