.mobile-nav {
    border-bottom: 1px solid $mustard;

	ul {

		a {
            @include red-typewriter;
            padding: 0.75rem 0.5rem;

            &:hover {
                color: $mustard;
            }
		}
	}
}