.nameplate {
	.nameplate-wrapper {
        @include desktop-small {
            border-color: $charcoal;
            justify-content: space-between;
            padding: 4rem 0 6rem 0;

        }
	}

    .logo {
        a {
            display: block;
        }

        .image {
            flex: 1;

            @include tablet-small {
                flex: none;
            }

            @include desktop-small {
                display: flex;
                justify-content: center;
            }

            img {
                width: 100%;
                max-width: 225px;

                @include desktop-small {
                    max-width: 365px;
                }
            }
        }
    }

	.info{
		h3 {
            font-size: clamp(1.5rem, 2vw, 2rem);
            font-weight: bold;
            @include red-typewriter;

		}

		p {

            font-size: clamp(0.8125rem, 1.2vw, 1.125rem);
            font-style: normal;
            color: $dark-red;
            line-height: 1.5em;
        }
	}
}