.site-nav {
    li:after {
        padding: 0 0.5rem;

        @include desktop-medium {
            padding: 0 0.75rem;
        }
    }

    a {
        font-size: 1rem;
        @include red-typewriter;
        letter-spacing: -0.03em;

        @include desktop-medium {
            font-size: 1.125rem;
        }

        &:hover {
            color: $mustard;
        }
    }
}
