body,
button,
input,
select,
optgroup,
textarea {
	color: $charcoal;
	font-family: $avenir;
	font-variant-ligatures: none;
}


::-moz-selection {
	background: $mustard;
	color: $white;
	text-shadow: none;
}

::selection {
	background: $mustard;
	color: $white;
	text-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}

a {
	color: $charcoal;
	transition: all 0.2s ease-in-out;
}

.page-header {
	h1 {
		font-size: clamp(2rem, 4vw, 4rem);
		@include red-typewriter;

		&:after {
			content: ".";
		}
	}
}