body.page-template-group-dining {
    .section-header {
        h3 {
            @include red-typewriter;
            font-size: clamp(2.5rem, 4vw, 4rem);
        }
    }

    section.header {
        color: $red;
    }

    section.faqs {
        color: $red;

        .cta {
            .btn {
                background: $mustard;
                font-family: $italian-typewriter;
            }
        }
    }

    section.form {
        color: $red;

        .forminator-custom-form {
            .forminator-response-message {
                background: $red;
                color: $white;
                padding: 1rem;
            }
            .forminator-button-submit {
                background: $mustard;
                font-family: $italian-typewriter;
            }

            .forminator-field {
                input,
                select {
                    border: 1px solid $mustard;
                }

                label {
                    color: $red;

                    span.forminator-required {
                        color: $mustard;
                    }
                }

                .forminator-error-message {
                    color: $mustard;
                }
            }
        }

        .post-form-copy {
            a {
                color: $red;
                text-decoration: underline;
            }
        }
    }

    .ui-datepicker {
        &-prev,
        &-next {
            span {
                color: $red;
            }
        }

        &-month,
        &-year {
            color: $white;
            background: $red;
            border-color: $red;
            font-weight: bold;
        }

        &-calendar {
            border-left: 1px solid $mustard;

            th {
                background: $mustard;
            }

            td {
                border-right: 1px solid $mustard;
                border-bottom: 1px solid $mustard;

                a {
                    &:hover,
                    &.ui-state-active {
                        background: $red;
                        color: $white;
                    }
                }
            }
        }
    }
}
