body.page-template-location {

    section.location {
        .info {
            padding-right: 2rem;

            h3 {
                @include red-typewriter;
                font-size: 1.5rem;
                line-height: 1.125em;
            }

            p {
                font-size: clamp(1rem, 1.2vw, 1.25rem);
                line-height: 1.25em;

                 & + h3 {
                     margin-top: 3rem;
                 }
            }

            a {
                text-decoration: underline;
            }
        }

        .map {
            padding-bottom: 3rem;
        }
    }
}