section.details {
    padding: 3rem 0;

    @include desktop-small {
        padding: 2rem 0 4rem 0;
    }

    .gallery {
        display: grid;
        gap: 1rem;

        @include tablet {
            grid-column: 6 / span 4;
            grid-row: 1;
        }

        @include desktop-small {
            grid-column: 6 / span 8;
            grid-template-columns: 1fr 1fr
        }

        .photo {
            @include aspect-ratio(16, 9);
            @include cover-fill-image;
        }

        .inset {
            @include aspect-ratio(16, 6);

            @include desktop-small {
                grid-column: 1 / span 2;
            }
        }
    }

    .info {
        padding-bottom: 2rem;

        @include tablet {
            grid-column: 2 / span 4;
            grid-row: 1;
            padding-bottom: 0;
            padding-right: 2rem;
        }

        @include desktop-small {
            padding-top: 2.5em;
        }

        .headline {
            padding-bottom: 2rem;

            h2 {
                @include red-typewriter;
                color: $mustard;
                font-size: clamp(2.25rem, 3vw, 3.5rem);
                line-height: 0.875em;                
            }
        }

        .copy {

            p {
                font-size: clamp(1.25rem, 1.125vw, 1.5rem);
                line-height: 1.5em;

                & + p {
                    padding-top: 1rem;
                }
            }
        }

    }
}