.construction {
    gap: 2rem;
    padding-bottom: 3rem;

    &__info {
        @include desktop-small {
            grid-row: 1;
            grid-column: 10 / span 4;
            padding-top: 1rem;
        }
    }

    &__headline {
        font-size: clamp(1.5rem, 2vw, 2rem);
        line-height: 1.25em;
        color: $red;
        font-weight: bold;
    }

    &__copy {
        padding-top: 1rem;
        font-size: clamp(1.125rem, 1.5vw, 1.25rem);
        line-height: 1.5em;
    }

    &__image {
        @include desktop-small {
            grid-column: 2 / span 8;
            grid-row: 1;
        }
    }
}
