#covid-modal {
	.overlay {
		&-wrapper {
			background: $mustard;
			border: 1px solid $white;
		}
	}

	.close {
		color: $white;
	}

	.headline {
		color: $red;
		border-color: $white;

		h2 {
			font-size: clamp(1.5rem, 3vw, 2.5rem);
			text-transform: lowercase;
			letter-spacing: 0.05em;
			font-family: $italian-typewriter;
			font-weight: bold;
		}
	}

	.content {
		h3 {
			color: $white;
			font-size: clamp(0.875rem, 1vw, 1rem);
			letter-spacing: 0.05em;
			font-weight: bold;
		}

		p {
			color: $white;
			a {
				text-decoration: underline;
				color: $white;
			}
		}
	}
}