section#heavy-at-home {
	.overlay {
		background: rgba(242, 241, 225, 0.7);
		
		&-wrapper {
			border: 5px solid $red;
			background: $white;
		}
	}

	.info {
		.headline {
			h1 {
				color: $red;
				text-transform: lowercase;

				@include tablet {
					font-size: 5rem;
				}
			}
		}

		.copy {
			p {
				font-size: clamp(1.375rem, 1.3vw, 1.5rem);
				line-height: 1.375rem;
				color: $charcoal;

				a {
					color: $charcoal;
				}
			}
		}

		.cta {
			.btn {
				color: $red;

				&:hover {
					background: $red;
					border-color: $red;
				}
			}
		}	
	}
}