nav.menu-subnav {
    padding-top: 0;
    li {
        &:after {
            content: '.';
            font-size: clamp(2.5rem, 5vw, 3.5rem);
            color: $red;
        }
    }
    a {
        font-size: clamp(2rem, 3.15vw, 3.25rem);
        @include red-typewriter;
        padding-bottom: 0.25rem;
        border-bottom: 3px solid transparent;


        &.active,
        &:hover {
            border-bottom: 3px solid $red;
        }
    }
}