.theme-cream-red {

    .specials {
        .items {
            background: $mustard;
            
            .item {
                color: $white;

                & + .item {
                    margin-top: 3rem;

                }
            }
        }
    }

    .section-header {
        h3 {
            @include red-typewriter;
        }
    }

    .special {
        background: $mustard;
        color: $white;
    }

    nav.menu-subnav {
        a.active {
            color: $red;
        }
    }
}
